@page "/Stock"
@using Syncfusion.Blazor.Buttons 

<h1>Hello, world!</h1>

  <SfButton  IconCss="e-icons e-search" IconPosition="IconPosition.Right">Add Stock Item</SfButton>

    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
}
<style>
    .e-play-icon::before {
        content: '\e324';
    }
    .e-pause-icon::before {
        content: '\e326';
    }
</style>