@page "/Stock"

<h1>Hello, world!</h1>
  <p>
        <NavLink href="/stock/create" class="btn btn-primary">Create New</NavLink>
    </p>
  <SfButton>New Stock Item</SfButton>

    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
}
